<div class="breadcrumb">
  <a routerLink="/lugares" class="breadcrumb-item">Lugares</a> 
  <a class="breadcrumb-item" aria-current="page">Contacto</a>
</div>


<hr>
<div class="container">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" class="form-control" />
  <br>
  <label for="correo">Correo</label>
  <input type="email" name="correo" class="form-control" />
  <br>
  <label for="mensaje">Mensaje</label>
  <textarea name="mensaje" cols="30" rows="10" class="form-control"></textarea>
  <hr>
  <a href="" class="btn btn-primary">Enviar</a>
  <a href="" class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>