<div class="container formulario">
  <div class="row justify-content-md-center">
      <div class="col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" placeholder="Tony Stark" />
        <br>
        <label for="correo">Correo</label>
        <input type="email" name="correo" class="form-control" placeholder="tony@exampol.com"/>
        <br>
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" cols="30" rows="10" class="form-control" placeholder="..."></textarea>
        <br>
        <a href="#" class="btn btn-light">Enviar</a>
        <a class="btn btn-secondary" routerLink="/lugares">Cancelar</a>
      </div>
      <div class="col-md-6 info-contacto">
        <i class="far fa-envelope-open contact-icon"></i>
        <br>
        <h2>Acme inc.</h2>
        <h3>Contactanos</h3>
        <br>
        <div class="phone">
          <p><i class="fas fa-phone"></i> +54 362 11223344</p>
        </div>
        <div class="email">
          <p><i class="far fa-envelope"></i> acme@acme.com</p>
        </div>
        <div class="location">
          <p><i class="fas fa-map-marker-alt"></i> 23rd Street - North Korea</p>
        </div>
      </div>
  </div>
</div>