<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav>
<div class="container">
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Lugares cercanos</h2>
          <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
              <li class="list-group-item" *ngIf="lugar.active">{{lugar.nombre}}</li>
            </ng-container>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Destacados</h2>
        </div>
      </div>
    </div>
</div>

