/* You can add global styles to this file, and also import other style files */

body {
  background-color: #0077b5;
  color: white;
  font-weight: bold;
  font-family: Lato;
}
.breadcrumb {
  background-color: #343a40;
  border-radius: 0;
}